body {
    font-family: Arial, sans-serif;
    margin-left: 2px;
}

/* horizontaal menu */
#menu-hor-green {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 600px;
    height: 75px;
    background-color: #abdb4c;
    padding: 0;
    margin: 0;
}

#menu-hor-green a {
    text-decoration: none;
    color: #444;
    display: block;
}

#menu-hor-green a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

#menu-hor-green .active {
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* verticaal menu */
#menu-social-vert {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    border: 1px solid #dfdddd;
    border-radius: 3px;
    width: 53px;
}

#menu-social-vert li {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dfdddd;
}

#menu-social-vert .active {
    border-top: none;
}

span {
    color: #99c63f;
    font-size: 2em;
}

span:hover {
    color: #abdb4c;
}
