body {
    font-family: Arial, sans-serif;
    margin-left: 2px;
}

/* horizontaal menu */
#menu-hor-green {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 600px;
    height: 75px;
    background-color: #abdb4c;
    padding: 0;
    margin: 0;
}

#menu-hor-green a {
    text-decoration: none;
    color: #444;
    display: block;
}

#menu-hor-green a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* verticaal menu */
#menu-social-vert {
    list-style: none;
    border: #444;
}