/* stylelint-disable no-duplicate-selectors */

/* deel 1: start CSS */

* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #fff;
   background-image: url(../img/tile.png);
}

body {
   border: 10px solid white;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
   background-image: url(../img/bg.png);
   background-size: 100% 100%;
   font-family: Arial, sans-serif;
   border: 10px solid white;
}

h1 {
   margin-top: 30px;
   font-family: "Caveat", cursive, sans-serif;
   text-align: center;
   padding-top: 5px;
   font-size: 50px;
}

span {
   color: red;
}

main {
   padding-top: 53px;
   font-family: "Indie Flower", cursive, sans-serif;
   font-size: 26px;
   color: #0000ffa1;
}

mark {
   background-color: transparent;
   font-weight: bold;
   text-shadow: 0 0 10px #ff000099;
   color: black;
}

footer {
   margin-top: 35px;
   font-family: "Indie Flower", cursive, sans-serif;
   font-size: 20px;
   color: #0000ffa1;
   text-align: center;
   margin-left: 120px;
}
