nav ul {
    display: flex;
    font-size: 0.8em;
    width: 550px;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    padding: 0.4rem 0.8rem;
}

#einstein {
    padding-bottom: 20px;
}

h2 {
    padding: 32px 0 16px 0;

}

section img {
    padding: 7px;
    border: 2px solid rgb(241, 241, 241);
}

.logo p {
    margin-top: 10px;
}

.button {
    margin: 20px 0 60px 0;
    height: 40px;
    width: 110px;
    padding-left: 15px;
    padding-top: 9px;
}

#social li {
    padding-left: 90px;
    padding-top: 10px;
}

aside li {
    margin-top: 10px;
}

footer {
    border-top: 2px solid rgb(241, 241, 241);
    padding-top: 30px;
    margin-bottom: 30px;
}


footer li {
    margin: 15px 0 0 0;
    padding-bottom: 15px;
    border-bottom: solid 1px rgb(241, 241, 241);
}

footer li:last-child {
    border-bottom: none;
}